.menber-title{
	padding-top: 30px;
}

.menber-box{
	padding-top: 30px;
	line-height: 50px;
}

.order-title{
	padding-top: 30px;
}

.customer-box{
	padding-top: 30px;
	line-height: 20px;
}


.order-box{
	padding-top: 30px;
	
}

.price-box{
	padding-top: 100%;
}