.menber-title{
	padding-top: 30px;
}

.menber-box{
	padding-top: 30px;
	line-height: 50px;
}

.order-title{
	padding-top: 30px;
}

.customer-box{
	padding-top: 30px;
	line-height: 20px;
}


.order-box{
	padding-top: 30px;
}

.price-box{
	padding-top: 100%;
}

.order_status{
	display: inline-block;
}

.order_status_actions{
	display: inline-block;
	width: 20%;
}

.production_status{
	display: inline-block;
}

.production_status_actions{
	display: inline-block;
	width: 50%;
}

.price-box{
	margin-top: 70%;
}