<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<div class="menbers-title">
				<h1>会員一覧画面</h1>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="menbers-box">
				<!--%= will_paginate %-->
				<table class='table'>

					<thead>
						<tr class="active">
							<th>会員ID</th>
							<th>氏名</th>
							<th>メールアドレス</th>
							<th>ステータス</th>
						</tr>
					</thead>

					<tbody>
						<% @end_users.each do |f| %>
						<tr>
							<td><%= f.id %></td>
							<td><%= link_to f.name, admin_end_user_path %></td>
							<td><%= f.email %></td>
							<td><%= f.status %></td>
						</tr>
						<% end %>
					</tbody>
				</table>
				<!--%= will_paginate %-->

			</div>
		</div>
		<div class="col-xs-3"></div>

	</div>
</div>


