<div class="col-xs-2">
	<div class = "panel panel-default">
		<div class = "panel-heading">
			<h4 class="text-center"><strong>ジャンル検索</strong></h4>
		</div>
		<div class ="panel-body">
			<%@genres.each do |genre|%>
			<table style=";">
				<tbody>
					<tr class="list-group">
						<td class="list-group-item"><strong><%= link_to genre.name,end_users_genre_path(genre.id)%></strong></td>
					</tr>
				</tbody>
			</table>
			<% end %>
		</div>
	</div>
</div>
