/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.alert-notice {
  color: #000;
  background: #cdcdcd;
}
.alert-alert {
  color: #fff;
  background: #000;
}

.pagination {
  margin: 0 0;
}

.form-submit {
  padding-top: 240px;
  height: auto;
}
.add-product {
  margin: 0 20px;
}

// ボタンのレイアウト
.leave-link {
  text-align: center;
}
.btn-danger {
  a {
    color: #fff;
  }
}
.index-btn {
  margin-top: 12px;
}
.edit-btn {
  margin: 12px 10px 0 0;
}
.pass-btn {
  margin-top: 12px;
}
.leave-btn {
  margin-left: 20px;
}

//タイトルやテキスト
h1 {
  font-size: 30px;
  padding-bottom: 10px;
}
h2 {
  font-size: 20px;
  padding-bottom: 20px;
}
.leave-confirm {
  font-size: 18px;
  font-weight: bold;
  padding-top: 100px;
}
.leave-text {
  text-align: center;
}
.thanks {
  font-size: 25px;
  text-align: center;
  padding-top: 20%;
}
.font {
  color: white;
}

// form layout
.field {
  padding-bottom: 10px;
  .name {
    padding-right: 150px;
  }
  .blank_name {
    padding: 0 150px 8px 0;
  }
  .last_name {
    padding-right: 22px;
  }
  .first_name {
    padding-right: 22px;
  }
  .last_name_kana {
    padding-right: 8px;
  }
  .first_name_kana {
    padding-right: 8px;
  }
  .email {
    padding-right: 130px;
  }
  .post_code {
    padding-right: 60px;
  }
  .address {
    padding-right: 200px;
  }
  .address_name {
    padding-right: 200px;
  }
  .phone_number {
    padding-right: 60px;
  }
  .password {
    padding-right: 80px;
  }
  .password-confirmation {
    padding-right: 90px;
  }
  .login-email {
    padding-right: 10px;
  }
  .login-password {
    padding-right: 35px;
  }
}
//エラーによるレイアウトが崩れるのを防ぐ
.field_with_errors {
  display: contents;
}

#error_explanation {
  color: #ff0000;
}

.table {
  table-layout: auto;
  width: 100%;
  margin-bottom: 0;
}

.form-image {
  display: inline-block;
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}

footer {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  border-top: thin solid #dddddd;
  margin-top: auto;
}

body,
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page a {
  color: gray;
  text-decoration: none;
}

//以下、ハンバーガーメニュー用
.inner {
  width: 980px;
  margin: 0 auto;
  position: relative;
}

.inner:after {
  content: "";
  clear: both;
  display: block;
}

/*--------header-----------*/

#top-head {
  top: -100px;
  position: absolute;
  width: 100%;
  margin: 100px auto 0;
  //padding: 30px 0 0;
  line-height: 1;
  z-index: 999;
}

#top-head a,
#top-head {
  color: #fff;
  text-decoration: none;
}

#top-head .inner {
  position: relative;
}
//#top-head .logo {
//    float: left;
//    position: relative;
//    font-size: 36px;
//    height: 50px;
//}

//#top-head .logo a {
//  position: absolute;
//  width: 100%;
//  height: 50px;
//}

#global-nav ul {
  list-style: none;
  position: absolute;
  top: 20px;
  right: 0;
  font-size: 14px;
}
#global-nav ul li {
  float: left;
  padding: 0 30px;
  border-left: 1px solid #000;
}
#global-nav ul li a {
  padding: 5px 5px;
  position: relative;
  display: inline-block;
}

#global-nav ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  background-color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#global-nav ul li a:hover::after {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

nav span {
  background: #666;
  height: 2px;
  display: block;
  position: relative;
  width: 50px;
  left: 0;
}

/*--------固定化されたときのCSS-----------*/

#top-head.fixed {
  margin-top: 0;
  top: 0;
  position: fixed;
  padding-top: 10px;
  background: #fff;
  background: rgba(255, 255, 255, 0.7);
  transition: top 0.65s ease-in;
  -webkit-transition: top 0.65s ease-in;
  -moz-transition: top 0.65s ease-in;
}

#top-head.fixed .logo {
  position: relative;
  font-size: 24px;
  color: #333;
}

#top-head.fixed .logo a {
  position: absolute;
  width: 100%;
  height: 30px;
}
#top-head.fixed #global-nav ul li a {
  color: #333;
  padding: 0 20px;
  padding-bottom: 10px;
}

.logo-img {
  width: 20%;
  max-width: 100%;
  height: 100%;
  background-size: cover;
  background-position: left;
}

/*-----------スマホのトグルボタンのCSS-------------*/

#nav-toggle {
  display: none;
  position: absolute;
  right: 12px;
  top: 14px;
  width: 34px;
  height: 36px;
  cursor: pointer;
  z-index: 101;
}
#nav-toggle div {
  position: relative;
}
#nav-toggle span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: white;
  left: 0;
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
}
#nav-toggle span:nth-child(1) {
  top: 0;
}
#nav-toggle span:nth-child(2) {
  top: 11px;
}
#nav-toggle span:nth-child(3) {
  top: 22px;
}

/*---------gnav sp--------------*/
/*-----------スマホ-------------*/
@media screen and (max-width: 767px) {
  logo-img {
    display: none;
  }

  .head-inner {
    display: none;
  }

  .slick-next {
    right: 0;
  }

  #top-head,
  .inner {
    width: 100%;
    padding: 0;
  }
  #top-head {
    top: 0;
    position: fixed;
    margin-top: 0;
  }
  /* Fixed reset */
  #top-head.fixed {
    padding-top: 0;
    background: transparent;
  }
  #mobile-head {
    background: #fff;
    width: 100%;
    height: 56px;
    z-index: 999;
    position: relative;
    background: black;
  }
  #top-head.fixed .logo,
  #top-head .logo {
    position: absolute;
    left: 13px;
    height: 50px;
    top: 15px;
    color: #333;
    font-size: 26px;
  }
  #global-nav {
    position: absolute;
    /* 開いてないときは画面外に配置 */
    top: -500px;
    background: #000;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  #global-nav ul {
    list-style: none;
    position: static;
    right: 0;
    bottom: 0;
    font-size: 14px;
  }
  #global-nav ul li {
    float: none;
    position: static;
    padding: 18px 0;
    color: #fff;
  }
  #top-head #global-nav ul li a,
  #top-head.fixed #global-nav ul li a {
    width: 100%;
    display: block;
    color: #fff;
    padding: 18px 0;
  }
  #nav-toggle {
    display: block;
  }
  /* #nav-toggle 切り替えアニメーション */
  .open #nav-toggle span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    transform: rotate(315deg);
  }
  .open #nav-toggle span:nth-child(2) {
    width: 0;
    left: 50%;
  }
  .open #nav-toggle span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-315deg);
    -moz-transform: rotate(-315deg);
    transform: rotate(-315deg);
  }
  /* #global-nav スライドアニメーション */
  .open #global-nav {
    /* #global-nav top + #mobile-head height */
    -moz-transform: translateY(556px);
    -webkit-transform: translateY(556px);
    transform: translateY(556px);
  }

  .open #global-nav .logo-img {
    display: none;
  }
}

/*------------タブレット用------------------*/

@media screen and (max-width: 1024px) {
  .head-inner {
    display: none;
  }

  .slick-next {
    right: 0;
  }

  #top-head,
  .inner {
    width: 100%;
    padding: 0;
  }
  #top-head {
    top: 0;
    position: fixed;
    margin-top: 0;
  }
  /* Fixed reset */
  //#top-head.fixed {
  //    padding-top: 0;
  //    background: transparent;
  //}
  #mobile-head {
    background: black;
    width: 100%;
    height: 70px;
    z-index: 999;
    position: relative;
  }
  //#top-head.fixed .logo,
  #top-head .logo {
    position: absolute;
    left: 13px;
    height: 50px;
    top: 15px;
    color: #333;
    font-size: 26px;
    width: 70%;
  }
  #global-nav {
    position: absolute;
    /* 開いてないときは画面外に配置 */
    top: -500px;
    background: #000;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  #global-nav ul {
    list-style: none;
    position: static;
    right: 0;
    bottom: 0;
    font-size: 14px;
  }
  #global-nav ul li {
    float: none;
    position: static;
    padding: 18px 0;
    color: #fff;
  }
  #top-head #global-nav ul li a,
  #top-head.fixed #global-nav ul li a {
    width: 100%;
    display: block;
    color: #fff;
    padding: 18px 0;
  }
  #nav-toggle {
    display: block;
    right: 25px;
    top: 20px;
  }
  /* #nav-toggle 切り替えアニメーション */
  .open #nav-toggle span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    transform: rotate(315deg);
  }
  .open #nav-toggle span:nth-child(2) {
    width: 0;
    left: 50%;
  }
  .open #nav-toggle span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-315deg);
    -moz-transform: rotate(-315deg);
    transform: rotate(-315deg);
  }
  /* #global-nav スライドアニメーション */
  .open #global-nav {
    /* #global-nav top + #mobile-head height */
    -moz-transform: translateY(556px);
    -webkit-transform: translateY(556px);
    transform: translateY(556px);
  }

  .open #global-nav .logo-img {
    display: none;
  }
}
//以上、ハンバーガーメニュー用

header {
  background-color: black;
}
