<footer class="p-5 mt-5">
  <div class="container text-white">
    <div class="row">
      <div class="col-md-8 col-xs-offset-2">
        <h3 id="title2" class="text-center">NAGANO CAKE</h3>
        <p class="text-center">おかげさまで50周年<br>~100年先も愛されるお菓子作りを目指して~</p>
      </div>
    </div>

    <div class="row">
      <p class="text-center">▶︎ホーム ▶︎店舗情報 ▶︎会社案内 ▶︎お問い合わせ ▶︎プライバシーポリシー ▶︎サイトマップ</p>
    </div>
  </div>
  <p class="text-center pt-3">Copyright © 2020 Chomoranma All Rights Reserved.</p>
</footer>
