<% unless %w[/admins/sign_in].any? { |name| current_page?("#{name}") } %>
  <div id="nav-toggle">
    <div>
        <span></span>
        <span></span>
        <span></span>
    </div>
  </div>
<% end %>