<% if admin_signed_in? or end_user_signed_in? or %w[/ /end_users/sign_up /end_users/sign_in /end_users/products /end_users/product].any? { |name| current_page?("#{name}") }%>
  <div id="nav-toggle">
    <div>
        <span></span>
        <span></span>
        <span></span>
    </div>
  </div>
<% end %>